extends headerLayout.pug

block content
	#content
		each clas in classes	
			.school
				.floatLeft
					a(href= "/s/" +school + "/c/"+ clas.sName)= clas.name
					br
					p Teacher: 
						= clas.teacher
				if logedin
					.fav
						label(for='myCheck') Favorite
						if strToArr(favClasses).findIndex( element => {if (element[0] === school &&element[1] === clas.sName) {return true;}}) == -1
							input(id=clas.sName, type='checkbox', onclick='fav("'+clas.sName+'","'+school+'")')
						else
							input(id=clas.sName, type='checkbox', checked='', onclick='fav("'+clas.sName+'","'+school+'")')

		.school Add a Class That Doesn't Have a Board Yet
			if logedin
				form(action='/newclass' method="post")
					label(for='name') *Class Name*:
					br
					input(type='text', name='name', required, autocomplete="off")
					br
					label(for='sName') *Shortened Class Name*:
					br
					input(type='text', name='sName',pattern="[A-Za-z0-9]{1,10}", title="Some Special Characters And Spaces Are Not Allowed and it must be below 10 characters", autocomplete="off")
					br
					label(for='teacher') *Teacher*:
					br
					input(type='text', name='teacher', required, autocomplete="off")
					br
					label(for='description:') Description:
					br
					input(type='text', name='description', autocomplete="off")
					br
					input(type="hidden", name='school', autocomplete="off", value=school)
					br
					br
					input(type='submit', value='Submit')
			else
				p Login to add your classes
		