doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width')
		title repl.it
		link(href='https://schoolathome.theohalpern.repl.co/style.css', rel='stylesheet', type='text/css')
	body
		script(src='https://schoolathome.theohalpern.repl.co/script.js')
		#header
			#location= location
			if logedin
				#signedInAs Signed in as: 
					=username
				a#signOut(href='https://schoolathome.theohalpern.repl.co/signout') Sign out
			else
				a#cA(href='https://schoolathome.theohalpern.repl.co/createAccount') Create an Account
				a#lI(href='https://schoolathome.theohalpern.repl.co/login') Login	
			script(src='https://apis.google.com/js/platform.js', async='', defer='')
			meta(name='google-signin-client_id', content='985596922523-tr74rdm03hj1mh6tg2hpmnirvcrm4v14.apps.googleusercontent.com')
		block content
