extends headerLayout.pug

block content
	.cForm
		script(async='', src='https://cse.google.com/cse.js?cx=ad61a9fd40ed116e5')
		.gcse-search
		br
		h1(style="text-align:center;") Search powered by Google